.navbar {
    overflow: hidden;
    display: flex;
    background-color: #475CBF;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.navbar img {
    width: 150px;
}

.navbar a {
    font-size: px;
    color: #E5B7ED;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
    bottom: 60px;
}

.navbar a:hover {
    background: rgba(255, 189, 89, 0.6);
    color: #E5B7ED;
}

.navbar a.active {
    color: #E5B7ED;
}

.container-fluid {
    padding: 0%;
    margin: 0%;
}


/* BODY */
body {
    background-color: #5B6CBF;
}


/*HEADER HOMEPAGE*/
#header-img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*CONTENT */
.titles {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 1rem;
    color: #FFBD59;
}

/*HOMEPAGE*/
.movies {
    text-align: center;
    padding: 3rem;
    padding-top: 0rem;
}

.img {
    width: 12rem;
    height: 16rem;
    padding: 0.8rem;
}

form {
    text-align: center;
}

form input {
    margin: 0.2rem;
    background-color: #475bbf00;
    width: 40%;

}

title-input::placeholder {
    color: #FFBD59;

}

::placeholder {
    color: #E5B7ED;

}

#button {
    color: #E5B7ED;
    font-weight: 700;
    background-color: #475CBF;
    margin: 1rem;
    box-shadow: 1px 2px 2px 1px #2f2f2fa4;
}

#button:hover {
    background-color: #ffbd59a9;
}

.open-forum {
    margin-bottom: 3rem;
}

.posts {
    text-align: left;
    padding-left: 23%;
    padding-right: 24%
}

a {
    font-size: 20px;
    list-style-type: none;
    color: #FFBD59;
    text-decoration-line: none;
}

a:hover {
    color: #475CBF;
}

.posts-li {
    color: #E5B7ED;
    text-align: left;
    list-style-type: none;
    margin-bottom: 2rem;
}

.timestamp {
    color: #FFBD59;
    font-size: 12px;
}

/*MOVIES PAGE*/
.movies-ul {
    columns: 2;
    -webkit-columns: 2;
}

.movies-li{
    text-align: center;
    list-style-type: none;
}
.movie-title{
    font-size: 24px;
    font-weight: 600;
    padding: 1rem;
    color: #FFBD59;
}


/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer img {
    width: 100%;

}

footer b {
    align-items: center;
}